.button:not(:last-child){
    margin-right: 10px;
}

.button {
    background-color: #fff;
    border:1px solid;
    border-color: grey;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    font-size: large;
    margin-bottom: 20px;
}

.button:hover {
    background-color: red;
}

.text{
    font-weight: 700;
    font-size:x-large;
}

.state{
    font-size: large;
    font-weight: 700;
}

.main{
    width: 350px;
    margin: 30px;
        padding: 30px;
        border: 1px solid;
}

text{
    font-size: large;
    font-weight: 700;
}